body {
  font-family: sans-serif;
}

li {
  font-family: Lucida Console, Courier, monospace;
  list-style: none;
  cursor: pointer;
  color: cornflowerblue
}

#app {
  line-height: 1.5em;
}

h5 {
  margin: 1em 0 0
}

ul {
  height: 200px;
  overflow: auto;
  border: 1px solid lightgray;
  padding-left: 1em;
}

textarea {
  width: 100%;
  height: 200px;
}

#appId {
  width: 530px;
  font-family: Lucida Console, Courier, monospace;
}

.hide {
  display: none;
}

iframe {
  width: 100%;
  height: 300px;
}

.actionR {
  background-color: bisque;
}

.actionD {
  background-color:rgb(201, 236, 131);
}

#relayInput {
	width: 400px;
}